[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "l0ara"]
	path = l0ara
	url = https://github.com/cran/l0ara
[submodule "tsdf"]
	path = tsdf
	url = https://github.com/wguo1017/tsdf
